@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;

  --color-accent-50: #e6efff;
  --color-accent-100: #cce0ff;
  --color-accent-200: #99c0ff;
  --color-accent-300: #66a1ff;
  --color-accent-400: #3381ff;
  --color-accent-500: #005eff;
  --color-accent-600: #004ecc;
  --color-accent-700: #003e99;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 55s linear infinite;
}

.animate-marquee-slow {
  display: flex;
  width: max-content;
  animation: marquee 150s linear infinite;
}

.animate-marquee-reverse-slow {
  display: flex;
  width: max-content;
  animation: marquee-reverse 150s linear infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
